@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,700');
body {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
}

header {
  background: url('/vufind/themes/lareferencia/images/linetop.png') repeat-x !important;
  padding-top: 2.5rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, .page-header {
  font-family: "Titillium Web";
  font-weight: 600;
}

.h1 {
  color: #3a5180;
}

.h2 {
  color: #04799c;
}

.h2.flaticon {
  border-bottom-color: #00BAB8;
}

.h2.flaticon > [class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  color: #00BAB8;
  font-weight: 300;
}

.h3 {
  color: #138c72;
}

.h4 {
  color: #00BAB8;
}


.h2.flaticon {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  text-indent: -1.75em;
  margin-left: 1.5em;
}

.h2.flaticon>[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-size: 24px;
}

.logo-repo {
  min-height: 100px;
}

.logo-inst {
  min-height: 100px;
}

.breadcrumbs {
  margin-bottom: 2em;
}

.jumbotron h1 {
  font-size: 44px;
}

.jumbotron.franja-presentacion {
  color: #FFF;
  padding: 2em 2em 3em 2em;
  margin-bottom: 3em;
}

.jumbotron.franja-presentacion .header {
  font-weight: 600;
  font-size: 44px;
}

.jumbotron.franja-presentacion .subheader small {
  font-size: 22px;
}

.searchHomeContent {
  padding: 1em;
  border-radius: 10px;
  text-align: center;
}

.searchHomeContent h2 {
  margin: .5em 0 1em .5em;
  font-size: 22px;
}

.searchHomeContent #searchForm_lookfor {
  width: 100%;
  margin-bottom: 1em;
}

#searchForm .btn-default{
  background-color: #f1686a;
}

div.search.navbar{
  width: 100%;
}

[id^="side-panel-"]>.title {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  border-width: 1px;
  border-style: solid;
}

.facet-group .facet .badge, .facet-group .title .badge {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  max-height: 22px;
}

.facet-group.active-filters .title:before {
  font-family: FontAwesome;
  content: "\f0b0";
  margin-right: .5em;
}

.media-body .h2 {
  margin-top: 40px;
  font-size: 24px;
}

.result .result-title {
  font-size: 1.25em;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  margin: 2em 0;
}

.result .record-number {
  border-radius: 50%;
  height: 2em;
  padding-top: .25em;
  margin-right: 1em;
  display: none;
}

.result .result-links {
  display: none;
}

.result .result-body {
  width: 100%;
}

.result-body {
  margin-bottom: 10px;
}

.result .result-body .result-authors, .result .result-body .result-date {
  margin-bottom: 1em;
}

.result a.fulltext {
  /*padding: .5em;*/
}

.result .result-formats {
  float: right;
}

.result-country {
  float: left;

}

.country {
  background-color: #f1686a;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  padding: 10px;
  text-transform: uppercase;

}

.result .result-formats span {
  padding: .5em;
  font-family: "Open Sans", sans-serif;
}

.result .result-repo {
  padding: .5em 1em;
  margin: 1em 0;
}



.stats-home {
  width: 100%;
  margin-bottom: 2em;
}

.stats-home tr:first-child {
  font-size: 38px;
}

.stats-home tr:last-child {
  font-size: 24px;
  font-weight: 300;
}

.stats-home tr:first-child td {
  padding-top: .25em;
}

.stats-home tr:last-child td {
  padding-bottom: .25em;
}

.stats-home td {
  text-align: center;
}

footer{
  background-color: black;
  color: #fff;
  padding: 20px 0 30px;
  width: 100%;
  margin-top: 50px;
}

.chartdiv {
  width: 100%;
  height: 450px;
  background-color: 1px solid #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  margin-top: 2em;
  margin-bottom: 3em;
}

.amcharts-pie-slice {
  transform: scale(1);
  transform-origin: 50% 50%;
  transition-duration: 0.3s;
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  cursor: pointer;
  box-shadow: 0 0 30px 0 #000;
}

.amcharts-pie-slice:hover {
  transform: scale(0.95);
  opacity: 0.8;
}

a[href*='amcharts'] {
  display: none !important;
}

.pagination {
  margin: 3em 0;
}

.list-group-item {
  padding: 0;
  margin-bottom: 1em;
  border-style: dotted;
  min-height: 67px;
}

.list-group-item p {
  margin: .75em 1em;
  font-size: .9em;
}

.list-group-item [class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-size: 40px;
  float: right;
  padding: .1em;
  margin-left: .25em;
  border-bottom: 1px dotted;
  border-left: 1px dotted;
}

.sidebar h4{
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #3a5180;
}

a {
  color: #00bab8;
  transition: 0.4s;
}

a:hover, a:focus {
  color: #8a0f0f;
}

nav.navbar {
  background-color: #3a5180;
}

.navbar-header {
  background-color: #FAFAFA;
}

.nav a {
  transition: 0.4s;
  color: #FFF;
}

.record-nav a{
  background-color: #8354a2;
}

.nav > li.active {
  background-color: #3a5180;
}
.nav>li>a:hover, .nav>li>a:focus, .nav .open>a, .nav .open>a:hover, .nav .open>a:focus, .dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
  background-color: #f8bd4f;
  color: #FFF;
}

.btn-primary {
  transition: 0.4s;
  background-color: #00BAB8;
}

.btn-primary:hover {
  background-color: #04799c;
  color: #FAFAFA;
}

[id^="side-panel-"] > .title {
  background-color: #8354a2;
  color: #FFF;
  border-color: #3a5180;
}

.badge {
  background-color: #f1686a;
}

.facet-group .collapse, .facet-group .collapsing, .facet-group > .facet {
  border-left: 1px solid #04799c;
  border-right: 1px solid #04799c;
}

.facet-group .facet {
  border-bottom: 1px solid #04799c;
}

.result {
  border-bottom: 1px solid #04799c;
  padding: 2em 0;
}

.result .record-number {
  background-color: #138c72;
  color: #fff;
}

.label-info, .result .format, .sidebar .format {
  background-color: #3a5180;
  color: #fff;
  font-size: 14px;
}

.result .result-title{
  font-size: 1.5em;
  margin: 0 0 0.75em;
}

#chartDates svg .amcharts-graph-column path {
  fill: #04799c;
  stroke: #3a5180
}

.amcharts-balloon-bg {
  stroke: #3a5180;
}

.amcharts-pie-item:nth-of-type(1) path:first-child, .amcharts-pie-item:nth-of-type(4) path:first-child, .amcharts-pie-item:nth-of-type(7) path:first-child, .amcharts-pie-item:nth-of-type(10) path:first-child {
  fill: #3a5180;
}

.amcharts-pie-item:nth-of-type(2) path:first-child, .amcharts-pie-item:nth-of-type(5) path:first-child, .amcharts-pie-item:nth-of-type(8) path:first-child, .amcharts-pie-item:nth-of-type(11) path:first-child {
  fill: #04799c;
}

.amcharts-pie-item:nth-of-type(3) path:first-child, .amcharts-pie-item:nth-of-type(6) path:first-child, .amcharts-pie-item:nth-of-type(9) path:first-child, .amcharts-pie-item:nth-of-type(12) path:first-child {
  fill: #138c72;
}

.amcharts-pie-item:nth-of-type(4) path:first-child, .amcharts-pie-item:nth-of-type(7) path:first-child, .amcharts-pie-item:nth-of-type(10) path:first-child, .amcharts-pie-item:nth-of-type(13) path:first-child {
  fill: #00BAB8;
}

.amcharts-pie-item:nth-of-type(5) path:first-child, .amcharts-pie-item:nth-of-type(8) path:first-child, .amcharts-pie-item:nth-of-type(11) path:first-child, .amcharts-pie-item:nth-of-type(14) path:first-child {
  fill: #f8bd4f;
}

.amcharts-pie-item:nth-of-type(6) path:first-child, .amcharts-pie-item:nth-of-type(9) path:first-child, .amcharts-pie-item:nth-of-type(12) path:first-child, .amcharts-pie-item:nth-of-type(15) path:first-child {
  fill: #f1686a;
}

.amcharts-pie-item:nth-of-type(7) path:first-child, .amcharts-pie-item:nth-of-type(10) path:first-child, .amcharts-pie-item:nth-of-type(13) path:first-child, .amcharts-pie-item:nth-of-type(16) path:first-child {
  fill: #8354a2;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
  background-color: #00BAB8;
  border-color: #3a5180;
}

.pagination>li>a, .pagination>li>span {
  color: #3a5180;
}

.list-group-item, .result.embedded .getFull.expanded, .result.embedded .loading {
  border-color: #f1686a;
}

.list-group-item [class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  border-color: #f1686a;
  color:  #f1686a;
}

.browse-item.active {
  background-color: #3a5180;
}

.browse-item:hover {
  background-color: #00BAB8;
  color: #FAFAFA;
}

/******* PLACA HOME BUSCADOR *******/

.placa-home-title {
    font-size: 28px !important;
    line-height: 34px;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
    padding: 1px 4px 0px 4px;
    text-shadow: none;
    margin: 0px;
    letter-spacing: -1.5px;
    height: auto;
    text-align: center;
    width: 100%;
    border-width: 0px;
    border-color: rgb(255,255,255);
    border-style: none;
	margin-top: 50px;
}

.form-home{
	margin-top:50px;
}

.searchome{ 
width: 100% !important;
background: #fff;
padding: 10px 50px !important;
border: none !important;
height: 42px !important;
font-size: 12px !important;
}

.selector{ 
width: 100% !important;
background: #fff;
padding: 10px!important;
border-radius: 0 !important;
margin-left: 1px !important;
box-shadow: none !important;
border: none;
height: 42px !important;
color: #7d7d7d;
font-size: 12px !important;
}

.buscarbtn { 
background: #00bab8 !important;
padding: 7px 30px !important;
font-size: 12px !important;
width: 100%;
color: #ffffff;
    background: #d7d7d7;
    border: 0;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding: 0 12px;
    font-size: 13px;
    line-height: 2.384615384;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
}

.advanced{ 
    background: #f1686a !important;
    padding: 7px 0px !important;
    height: 42px !important;
    font-size: 12px !important;
    width: 100%;

color: #ffffff;
    background: #d7d7d7;
    border: 0;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding: 0 12px;
    font-size: 13px;
    line-height: 2.384615384;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
}

.lupa{ 
font-size: 12px !important;
position: absolute;
z-index: 999;
color: #505050;
text-shadow: none;
top: 18px;
left: 18px;
}

#searchForm .no-padding{
	padding:0 !important;
}

	
.tp-caption.boxesalider, .boxesalider{ width:100% !important; top: 390px !important;}


.col-lg-3.boxslider {
    text-align: center;
	padding-left: 0; 
	padding-right: 0;
}
.col-lg-3.boxslider .boxslider2 {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    height: 60px;
}

.col-lg-3.boxslider .boxslider2 img{
    height: 60px !important;
}

.box-blue {
	color: #fff;
    background: #02799e;
    height: 120px;
    padding: 10px 0;
}

 .box-blue-light {
	color: #fff;
    background: #0387b0;
    height: 120px;
    padding: 10px 0;
}


.content-datos {
	
	margin-top:50px;
	margin-bottom: 20px;
	
}

.content-datos a {
	text-decoration:none;
	color:#fff;
}

.content-datos .no-padding {
	padding:0px;
	margin:0px;
}

.content-datos h3 {
    font-size: 24px;
    font-weight: 500;
text-align: center;
}
.content-datos h4 {
    font-size: 18px;
    font-weight: 500;
	text-align: center;
	line-height: 0.65;

}
.content-datos h5 {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.4px;
	text-align: center;

}



@media (max-width: 991px) {
	
	.itemintro1 {
    border: 2px solid #ccc;
    padding: 44px;
    font-size: 1.1em;
    width: 100%;
    float: left;
    margin-right: 0;
    z-index: 1;
    position: relative;
    margin-top: 0;
    text-align: left;
	margin-bottom: 10px;
}
div.k2ItemsBlock ul li {
    width: 100%;
    float: left;
    margin: 1%;
}
.logos-home {
    float: left;
    width: inherit;
}
.customsocios-home {
    clear: both;
}
.list-logos {height: 350px;padding-top: 0;padding-bottom: 15px;}
.bread1 h3 {
    color: #fff;
    padding-left: 20px;
}
	
.col-md-4.item-buscador {
    padding-bottom: 15px;
    height: auto;
    text-align: left;
}

.customintegrarse {
    height: auto;
    color: #fff;
    padding: 30px;
}
.itemintro2 {
    font-size: 15px;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
}

div.latestItemView {
    float: left;
    width: 100%;
    margin: 1%;
    height: auto;
    margin-bottom: 40px;
}
.latestItemTitle {
    font-size: 16px;
    color: #595959;
    min-height: auto;
    padding-bottom: 5px;
    margin: 0;
}
.moduleItemImage {
    height: auto;
    margin-bottom: 10px;
}

#t3-off-canvas .t3-off-canvas-header {
    background: none;
    color: #7d7d7d;
    padding: 0 0 0 12px;
    height: 35px;
}
#t3-off-canvas .t3-off-canvas-header h2 {
    display: none;
}

.buscarbtn {
    background: #00bab8 !important;
    padding: 11px 30px !important;
    width: 100%;

    color: #ffffff;
    background: #d7d7d7;
    border: 0;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding: 0 12px;
    font-size: 13px;
    line-height: 2.384615384;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;

}
.advanced {
    background: #f1686a !important;
padding: 5px 20px !important;
height: 42px !important;
font-size: 12px !important;
width: 100%;

}

.selector {
    width: 100% !important;
    background: #fff;
    padding: 10px !important;
    border-radius: 0;
    margin-left: 0px !important;
    box-shadow: none !important;
    border: none;
    height: 42px !important;
    color: #7d7d7d;
}




/*.col-lg-3.boxslider {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    float: left;
}
.col-lg-3.boxslider .boxslider2 img {
    height: auto !important;
}*/

.title-slide-home {
    font-size: 16px !important;
    line-height: normal !important;
    top: -39px;
}

.client-testimonial-desc h2 {
    color: #fff;
    font-size: 20px;
}

.itembox2 {
    padding: 46px 30px !important;
    color: #fff;
    background: #68b9b7;
    text-align: center;
}
.itembox3 {
    padding: 40px 30px !important;
    color: #fff;
    background: #78569f;
    text-align: center;
}
.itembox1 {
    padding: 40px 30px;
    color: #fff;
    background: #d4686a;
    text-align: center;
}




